# Archive folder
archive/
data/
downloaded_html/
outputs/
stats/
visualization/

# Python virtual environment
.venv/
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Cache files
crossref_cache.sqlite

# Output files
*.html
*.xml
